<div class="container-fluid">
    <a routerLink="/projects" class="float-right text-dark"><i class="fa fa-arrow-circle-left"></i> Back to Projects</a>
    <div *ngIf="!isEditing; else editMode">
        <h4><i class="fa fa-briefcase"></i> {{project.projectOwner}} / {{project.projectName}} <span><i class="btn fa fa-edit" (click)="edit()"></i></span></h4>
        <p>{{project.description}}</p>
    </div>
    <ng-template #editMode>
        editing...
        <form #editProjectInfoForm="ngForm" (ngSubmit)="completeEdit(editProjectInfoForm)">
            <div class="row">
                <div class="col">
                  <input type="text"
                   class="form-control" 
                   placeholder={{project.projectOwner}}
                   name="projectOwner"
                   #ProjectOwner="ngModel"
                   [ngClass]="{'is-invalid':ProjectOwner.errors && ProjectOwner.touched}"
                   [(ngModel)]="projectOwner"
                   required>
                </div>
              <div class="col">
                <input type="text" 
                class="form-control" 
                placeholder={{project.projectName}}
                id="projectName"
                name="projectName"
                #ProjectName="ngModel"
                [ngClass]="{'is-invalid':ProjectName.errors && ProjectName.touched}"
                [(ngModel)]="projectName"
                required>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <textarea class="form-control" 
                    rows="3" 
                    placeholder={{project.description}}
                    id="description"
                    name="description"
                    #projectDescription="ngModel"
                    [(ngModel)]="description"
                    ></textarea>
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col text-center">
                  <button type="submit" class="btn btn-info" [disabled]="isDisabled">Done</button>
              </div>
              <div class="col text-center">
                  <button (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </form>
    </ng-template>
    <hr><br>

    <ul>
        <li class="btn" routerLink="/projects/{{id}}/tasks">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Tasks</h5>
                    <p class="card-text"><i class="fa fa-tasks"></i></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="alert alert-danger" role="alert">
      <h5 class="alert-heading"> <i class="fa fa-trash"></i> Delete Project</h5>
          <p> Deleting this project will delete it permanently from the database. <button class="btn btn-danger float-right" (click)="deleteProject()" >Delete</button>
          </p>
          
    </div>


   
</div>

