<div class="container-fluid" >
    <div>
        <h4>INTRODUCTION</h4>
        <p>some content - updates and news</p>
    </div>
    <div>
        <h4>COMMON OPERATIONS</h4>
        <ul>
            <li class="btn" routerLink="/add-project">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Add Project</h5>
                        <p class="card-text"><i class="fa fa-plus-circle"></i></p>
                    </div>
                </div>
            </li>
            <li class="btn" routerLink="/projects">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">My Projects</h5>
                        <p class="card-text"><i class="fa fa-briefcase"></i></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h4>RECENT PROJECTS</h4>
    </div> 
</div>