<div class="container">
<div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form #taskForm="ngForm" (submit)="onSubmit(taskForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskLabel">{{task.name}}</h5>
          <div class="text-right">
              <label>Points: </label>
              <select class="form-control" id="points" name="points" [(ngModel)]="points" style="width: 60px;" value={{task.points}}>
                  <option>-</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>5</option>
                  <option>8</option>
                  <option>13</option>
                </select>
          </div>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col">
                    <input type="text"
                     class="form-control" 
                     placeholder="Name"
                     name="name"
                     #taskName="ngModel"
                     [(ngModel)]="name"
                     autocomplete="off"
                     value={{task.name}}
                     >
                  </div>
                <div class="col">
                  <select class="form-control" name="status" [(ngModel)]="status" id="status" value={{task.status}}>
                    <option>todo</option>
                    <option>In Progress</option>
                    <option>Complete</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col">
                      <textarea class="form-control" 
                      rows="3" 
                      placeholder="Description (optional)"
                      id="description"
                      name="description"
                      #projectDescription="ngModel"
                      [(ngModel)]="description"
                      value={{task.description}}
                      ></textarea>
                  </div>
             </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" routerLink="/projects/{{project.id}}/tasks"> <i class="fa fa-times"></i> Cancel</button>
          <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert">
      <h5 class="alert-heading"> <i class="fa fa-trash"></i> Delete Task</h5>
          <p> Deleting this Task will delete it permanently from the database. <button class="btn btn-danger float-right" (click)="onDelete()" >Delete</button>
          </p>
          
    </div>
  </div>
