<div class="container-fluid">
  <a routerLink="/projects/{{project.id}}" class="float-right"><i class="fa fa-arrow-circle-left"></i> Back </a>
    <div *ngIf="!isEditing; else editMode">
        <h4><i class="fa fa-briefcase"></i> {{project.projectOwner}} / {{project.projectName}}</h4>
        <p>{{project.description}}</p>

        <hr> 
        <div>
          <button class="btn btn-success" type="button" routerLink="/projects/{{project.id}}/tasks/add" ><i class="fa fa-plus"></i> Add</button>
        </div>
        
        <div class="container" style="margin:10px">
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <h5 class="card-header">Todo
                    <span class="badge badge-primary badge-pill">{{clientService.todoPoints}}</span>
                </h5>

                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center pointer" 
                    *ngFor="let task of todo"
                    routerLink="/projects/{{project.id}}/tasks/edit/{{task.id}}">
                      {{task.name}}
                      <span class="badge badge-primary badge-pill">{{task.points}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <h5 class="card-header">In Progress
                    <span class="badge badge-primary badge-pill">{{clientService.inProgressPoints}}</span>
                </h5>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center pointer" 
                        *ngFor="let task of inProgress"
                        routerLink="/projects/{{project.id}}/tasks/edit/{{task.id}}">
                          {{task.name}}
                          <span class="badge badge-primary badge-pill">{{task.points}}</span>
                        </li>
                      </ul>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <h5 class="card-header">Complete
                    <span class="badge badge-primary badge-pill">{{clientService.completePoints}}</span>
                </h5>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center pointer" 
                        *ngFor="let task of complete"
                        routerLink="/projects/{{project.id}}/tasks/edit/{{task.id}}">
                          {{task.name}}
                          <span class="badge badge-primary badge-pill">{{task.points}}</span>
                        </li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

