<div class="container-fluid">
  <h4><i class="fa fa-plus-circle"></i> ADD PROJECT</h4>
  <p>To start tracking your project complete the form below and click submit at the end of the form. This project will be added to your queue. You can access all your projects from the MyProjects link located on the sidebar or on the dashboard.</p>
  <hr><br>
  <div class="container">
      <form>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Project Owner">
            </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Project name">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <textarea class="form-control"  rows="3" placeholder="Description (optional)"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
              <button type="button" class="btn btn-success">Create Project</button>
          </div>
        </div>
      </form>
  </div>
</div>